<!-- *PARA LAS CABECERAS DENTRO DE "DIALOG" SI PERMITE EL ARRASTRE -->
<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <div [ngClass]="{'header-without-margin cibercont-form-header' : !this.dialogMode, 'cibercont-header-dialog bg-dark text-white' : this.dialogMode}" class="text-left row component-header" id="responsive-header">
        <div class="my-auto" [ngClass]="{'col-10 col-md-10': this.dialogMode, 'col-12': !this.dialogMode}">
            <h4 id="responsive-title" class="pt-2 mb-2"><i class={{icon}} class="fa-fw"></i>&nbsp; {{title}}</h4>
        </div>
        <div class="col-2 col-md-2 my-3 my-md-auto cursor-pointer" (click)="closeWindow()">
            <a class="d-flex justify-content-end">
                <mat-icon>close</mat-icon>
            </a>
        </div>
    </div>
</div>