<div class="bg-login">
</div>
<!-- #region INICIO boton de cargando -->

<ngx-spinner [name]="'login'">

</ngx-spinner>

<!-- #endregion FIN boton cargando -->
<div class="container contenedor-login">
    <div class="row h-100 justify-content-center align-items-center p-4 ">
        <div class="col-xs-8 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="row mb-5">
                <div class="col-12 bg-light border-principal">
                    <div class="row p-4">
                        <div class="col-12 text-center">
                            <img class="logo-usuario" src="../../../../assets/img/logo.png" alt="logo">
                        </div>
                    </div>
                    <form [formGroup]="loginForm">
                        <div class="form-row p-2">
                            <!-- <div class="col-12 text-left ">   
                        <h5 class="font-weight-bold text-primary">Iniciar Sesión</h5>
                    </div>  -->
                            <div class="col-12 p-1">
                                <mat-form-field appearance="outline" class="block small">
                                    <mat-label>Login</mat-label>
                                    <input matInput type="text" maxlength="10" formControlName="login">
                                    <!-- <mat-error>{{ getErrorMessage() }}</mat-error>  -->
                                    <mat-icon matSuffix>account_box</mat-icon>
                                </mat-form-field>
                                <div *ngIf="login.invalid && (login.dirty || login.touched)">
                                    <div class="error-message-medium" *ngIf="password.errors.required">
                                        Campo obligatorio
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 p-1">
                                <mat-form-field appearance="outline" class="block small">
                                    <mat-label>Ingrese su contraseña</mat-label>
                                    <input matInput maxlength="250" [type]="ocultar ?  'password' : 'text'" autocomplete="on" formControlName="password">
                                    <span class="border-0 bg-white" tabindex="-1" mat-icon-button matSuffix (click)="ocultar=!ocultar" [attr.aria-label]="'Ocultar password'" [attr.aria-pressed]="ocultar">
                                    <!-- <mat-icon>{{ocultar ? 'visibility_off' : 'visibility'}}</mat-icon> -->
                                    <mat-icon>vpn_key</mat-icon>
                            </span>
                                    <!-- <mat-error>Campo obligatorio</mat-error> -->
                                </mat-form-field>
                                <div *ngIf="password.invalid && (password.dirty || password.touched)">
                                    <div class="error-message-medium" *ngIf="password.errors.required">
                                        Campo obligatorio
                                    </div>
                                </div>
                            </div>

                            <div class="col-12  p-1">
                                <button mat-raised-button color="primary" class="block medium" [disabled]="cargando" (click)="signIn(loginForm.value)">
                                <!-- <i *ngIf="cargando" class="fa fa-spinner fa-pulse fa-lg fa-fw"></i>
                                <mat-icon *ngIf="!cargando">login</mat-icon>
                                &nbsp; --> Iniciar sesión
                                </button>
                            </div>
                            <!-- <div class="col-12 pt-3 text-center text-primary text-registro">
                                <p class="text-primary text-registro-nuevo font-weight-bold"> ¿No estás registrado? </p>
                                <a class="" routerLink="/registrar-revendedor"> Regístrate aquí</a>
                            </div> -->

                        </div>
                    </form>

                </div>

            </div>

        </div>

    </div>
</div>
<div>

</div>