.text-mensaje-generado {

    font-size: 1rem;
    font-weight: bold;
}

.text-mensaje-detalleDelMensaje {

    font-size: 0.8rem;
    
}


.text-mensaje-accionARealizar {

    font-size: 0.8rem;
    
}