<div class="container-fluid">
    <div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle class="row">
        <div *ngIf="data.estado" [ngClass]="{'bg-success': data.estado==true}" class="col-9 col-md-9 p-3 text-light titulo_modal">
            {{_titulo}}
        </div>
        <div *ngIf="!data.estado" [ngClass]="{'bg-danger': data.estado==false}" class="col-9 col-md-9 p-3 text-light titulo_modal">
            {{_titulo}}
        </div>
        <div class="col-3 col-md-3 py-3 py-md-auto cursor-pointer text-light" (click)="closeDialog()" [ngClass]="{'bg-danger': data.estado==false, 'bg-success': data.estado==true}">
            <a class="d-flex justify-content-end"><i class="material-icons" >close</i></a>
        </div>

    </div>

    <div class="row mt-4 mb-4">

        <div class="col-12  py-3">
            <p class="text-center text-break text-mensaje-generado">{{_mensaje.description}}</p>
        </div>

        <div class="col-12 px-5 py-1">
            <p class="text-center text-mensaje-detalleDelMensaje">{{_mensaje.detail}}</p>
        </div>
        <div class="col-12 px-5 py-1">
            <p class="text-center text-mensaje-accionARealizar">{{_mensaje.action}}</p>
        </div>



    </div>
    <div class="row my-3 mx-0">
        <div class="offset-2 col-8 offset-md-3 col-md-6">
            <button mat-raised-button color="primary" class="btn-block bg-black" tabindex='0' (click)="aceptar()">Aceptar</button>
        </div>
    </div>

</div>