/*#region ESTRUCTURA PRINCIPAL*/

::ng-deep .mat-menu-panel.menu-notificaciones {
    width: 400px !important;
    max-width: 400px !important;
}

.navbar-container {
    position: absolute;
    top: 0px;
    bottom: 64px;
    left: 0;
    right: 0;
}

.navbar-spacer {
    flex: 1 1 auto;
}

mat-sidenav {
    width: 0;
}

mat-toolbar {
    height: 64px;
    background-color: #0074c0;
    border-radius: 0 0 0.7rem 0.7rem;
    /* border-radius: 0 0 2rem 2rem; */
}

.toolbar-icon {
    cursor: pointer;
    color: #e9e9e9;
}

.nav-bottom-wrapper {
    width: 100%;
    height: 64px;
    background-color: #C9D5AC;
    position: fixed;
    bottom: 0;
}

.alias {
    overflow: hidden;
    color: #e9e9e9;
}


/*#endregion ESTRUCTURA PRINCIPAL*/


/*#region SIDEBAR*/

.logo-sidenav {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 13px;
    margin-top: 13px;
    cursor: pointer;
}

.logo-sidenav img {
    width: 60%;
}

.titulo-cabecera {
    display: none;
}

.titulo-cabecera-condicional {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #e9e9e9;
}

.sidenav-grid ul {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navbar-container .mat-drawer-side {
    border-right: none;
    z-index: 1;
}

.sidenav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    line-height: normal;
    cursor: pointer;
    padding: 0.7rem 1rem!important;
    color: #0074c0;
}

.sidenav-item:hover {
    background-color: #ecf7ff;
}

.sidenav-item-content-wrapper {
    display: inline-block;
}

.sidenav-item-active {
    background-color: #ceeaff;
    border-right: 4px solid #0074c0;
    border-radius: 0.25rem;
}

.logo-c-m {
    display: block;
}

.logo-r-m {
    display: none;
}

.logo-top-m {
    display: block;
}

.cont-tipo-cambio {
    display: none;
}

.item-tipo-cambio {
    display: block;
}


/*#endregion SIDEBAR*/


/*#region MENU INFERIOR*/

.nav-grid ul {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.nav-grid ul li {
    display: flex;
    justify-content: center;
    height: 64px;
}

.nav-grid ul li a {
    display: flex;
    align-items: stretch;
    color: #e9e9e9;
}

.nav-grid ul li a:hover {
    text-decoration: none;
}

.menu-inferior-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0074c0;
    line-height: normal;
    text-align: center;
    cursor: pointer;
}

.menu-inferior-item mat-icon {
    color: #e9e9e9;
}

.menu-inferior-item:hover {
    background-color: #00C0AC;
    border-radius: 4px 4px 0 0;
}

.menu-inferior-item:hover mat-icon {
    color: #e9e9e9;
}

.menu-inferior-item:hover p {
    color: #e9e9e9;
}

.menu-inferior-item-active {
    background-color: #00C0AC;
    border-radius: 6px 6px 0 0;
}

.icon-active {
    color: #e9e9e9!important;
}


/*#endregion MENU INFERIOR*/


/*#region MEDIA QUERIES*/

@media (min-width: 768px) {
    mat-sidenav {
        width: 75px;
    }
    .navbar-container {
        /* top: 0px; */
        bottom: 0px;
    }
    .titulo-cabecera {
        display: block;
    }
    .titulo-cabecera-condicional {
        display: none;
    }
    .nav-bottom-wrapper {
        display: none;
    }
    .sidenav-item-text {
        display: none;
    }
    .logo-top-g {
        display: none;
    }
}

@media (min-width: 992px) {
    mat-sidenav {
        width: 280px;
        /* width: 320px; */
    }
    .logo-sidenav {
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .logo-sidenav img {
        width: 40%;
    }
    .sidenav-item-text {
        display: inline-block;
        padding-left: 16px;
        font-size: 0.956rem;
    }
    .logo-r-g {
        display: block;
    }
    .logo-c-g {
        display: none;
    }
    .cont-tipo-cambio {
        display: block;
    }
    .item-tipo-cambio {
        display: none;
    }
}


/*#endregion MEDIA QUERIES*/